{% extends "global\base.html" %}
{% block title %}Home | {% endblock title %}


{% block content %}
<div class="=main-content main-content-list container">

    {% include "culinary_recipes\partials\recipe_list.html" %}
    {% include "culinary_recipes\partials\recipe_list.html" %}
    {% include "culinary_recipes\partials\recipe_list.html" %}
    {% include "culinary_recipes\partials\recipe_list.html" %}
    {% include "culinary_recipes\partials\recipe_list.html" %}
    {% include "culinary_recipes\partials\recipe_list.html" %}
    {% include "culinary_recipes\partials\recipe_list.html" %}
    {% include "culinary_recipes\partials\recipe_list.html" %}

</div>
{% endblock content %}